*.class

*.DS_Store
*.swp
*.out
*.lock

*.ipr
*.iws
*.iml
.idea/
bin
dist
.gradle/
build/

TEST-*.xml
database/scripts/
conf/current.props
intelij/
/out
/package
/*.db
*.rpm
tmp
*.version

infra/.vagrant
infra/local-rpm-repo
.last_run
